<!-- wp:template-part {"slug":"header","theme":"kotlinskidev","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"4.6875rem","bottom":"0.625rem","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"background-alt","layout":{"type":"constrained","contentSize":"73.75rem"}} -->
<main
  class="wp-block-group has-background-alt-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: calc(4.6875rem + env(safe-area-inset-top));
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 0.625rem;
    padding-left: var(--wp--preset--spacing--40);
  "
  tabindex="-1"
>
  <!-- Page Header -->
  <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"0.625rem"}}},"layout":{"type":"constrained","contentSize":"73.75rem"}} -->
  <div class="wp-block-group" style="margin-bottom: 0.625rem">
    <!-- wp:post-title {"level":1,"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"800"},"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}},"textColor":"foreground-alt"} /-->

    <!-- wp:post-content {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}},"textColor":"foreground-alt"} /-->
  </div>
  <!-- /wp:group -->

  <!-- Categories Display Pattern -->
  <!-- wp:pattern {"slug":"kotlinskidev/blog-topics-grid"} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"kotlinskidev/footer-dynamic"} /-->
