<!-- wp:template-part {"slug":"header","theme":"kotlinskidev","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"border":{"top":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"},"right":[],"left":[]},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"calc(var(--kt-header-height) + var(--kt-breadcrumbs-height) + env(safe-area-inset-top))","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"background-alt","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="main-wrapper wp-block-group has-background-alt-background-color has-background"
  style="
    border-top-style: none;
    border-top-width: 0;
    border-bottom-style: none;
    border-bottom-width: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: calc(var(--kt-header-height) + var(--kt-breadcrumbs-height) + env(safe-area-inset-top));
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 0;
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"73.75rem"}} -->
  <div
    class="wp-block-group"
    style="
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-right: var(--wp--preset--spacing--20);
      padding-bottom: var(--wp--preset--spacing--70);
      padding-left: var(--wp--preset--spacing--20);
    "
  >
    <!-- wp:post-content {"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}},"textColor":"foreground-alt"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
