<!-- wp:template-part {"slug":"header","theme":"kotlinskidev","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"75px","bottom":"10px","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"background-alt","layout":{"type":"constrained","contentSize":"1180px"}} -->
<main
  class="wp-block-group has-background-alt-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: calc(75px + env(safe-area-inset-top));
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 10px;
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- Search Header Pattern -->
  <!-- wp:pattern {"slug":"kotlinskidev/search-header"} /-->

  <!-- Search Results Pattern -->
  <!-- wp:pattern {"slug":"kotlinskidev/search-results"} /-->

  <!-- Search Form Pattern -->
  <!-- wp:pattern {"slug":"kotlinskidev/search-form"} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"kotlinskidev/footer-dynamic"} /-->
