<!-- wp:group {"className":"kt-article-card","style":{"shadow":"6px 6px 9px rgba(0, 0, 0, 0.2)"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group kt-article-card" style="box-shadow:6px 6px 9px rgba(0, 0, 0, 0.2)">

<!-- wp:image {"style":{"border":{"radius":{"topLeft":"6px","topRight":"6px","bottomLeft":"0px","bottomRight":"0px"}}},"metadata":{"bindings":{"id":{"source":"core/post-meta","args":{"key":"image_id"}},"url":{"source":"core/post-meta","args":{"key":"image_url"}},"alt":{"source":"core/post-meta","args":{"key":"image_alt"}}}}} -->
<figure class="wp-block-image has-custom-border"><img alt="" style="border-top-left-radius:6px;border-top-right-radius:6px;border-bottom-left-radius:0px;border-bottom-right-radius:0px"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"resolved_description"}}}}} -->
<p class="wp-block-paragraph"></p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-outline","style":{"border":{"color":"var:preset|color|foreground"},"shadow":"6px 6px 9px rgba(0, 0, 0, 0.2)"},"metadata":{"bindings":{"url":{"source":"core/post-meta","args":{"key":"permalink"}}}}} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-border-color wp-element-button" style="border-color:var(--wp--preset--color--foreground);box-shadow:6px 6px 9px rgba(0, 0, 0, 0.2)">Read more…</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

</div>
<!-- /wp:group -->
