mark.kt-highlight-gradient {
	background:
 var(--kt-highlight-gradient, linear-gradient(90deg, var(--wp--preset--color--primary), var(--wp--preset--color--contrast)));
	color: inherit;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;

	body.dark-mode & {
		mix-blend-mode: screen;
	}
}

.kt-gradient-text {
	background-image:
 var(--kt-text-gradient, linear-gradient(90deg, var(--wp--preset--color--primary), var(--wp--preset--color--contrast)));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
