# Ignore historical changes files
.history

# Ignore wp-config file
/wp-config.php
wp-config.php

# Ignore WordPress core files and directories
/wp-admin/
/wp-includes/

# Ignore plugin and theme directories if you don’t want to include them in your repository
/wp-content/plugins/*
/wp-content/plugins/akismet/*
!/wp-content/plugins/kotlinskidev-custom-login/
!/wp-content/plugins/custom-google-analytics-loader/
!/wp-content/plugins/custom-facebook-pixel-loader/

# Allow the slider-block plugin directory
!/wp-content/plugins/slider-block/

# Allow the contact form plugin directory
!/wp-content/plugins/contact-form-ts/

# Allow the google maps plugin directory
!/wp-content/plugins/google-maps-block/

# Allow the responsive image plugin directory
!/wp-content/plugins/responsive-image/

# Allow the responsive block visibility plugin directory
!/wp-content/plugins/block-visibility/

# Allow the responsive spacing controls plugin directory
!/wp-content/plugins/responsive-spacing-controls/

# Allow the responsive font controls plugin directory
!/wp-content/plugins/responsive-font-controls/

# But if you want to track custom themes and plugins, you can modify the above rules:
# /wp-content/plugins/*
# !/wp-content/plugins/custom-plugin/
# /wp-content/themes/*
# !/wp-content/themes/custom-theme/

# Ignore all themes
/wp-content/themes/*
# Except kotlinskidev theme
!/wp-content/themes/kotlinskidev/

# Ignore uploaded files
/wp-content/uploads/

# Ignore the WordPress debug log
wp-content/debug.log

# Ignore the cache directory (if used by plugins)
wp-content/cache/

# Ignore local development files
*.local
*.env
*.log

# Ignore sensitive files
*.sql
*.sqlite
*.bak

# Ignore IDE/editor settings
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore node modules
node_modules

# Ingore dist folders
dist

# Ingore build folders
build

# Allow only the build folder inside slider-block
!/wp-content/plugins/slider-block/build/

# Allow only the build folder inside contact-form-ts
!/wp-content/plugins/contact-form-ts/build/

# Allow only the build folder inside google-maps-block
!/wp-content/plugins/google-maps-block/build/

# Allow only the build folder inside responsive image
!/wp-content/plugins/responsive-image/build/

# Allow only the build folder block visibility
!/wp-content/plugins/block-visibility/build/

# Allow only the build folder responsive spacing controls
!/wp-content/plugins/responsive-spacing-controls/build/

# Allow only the build folder responsive font controls
!/wp-content/plugins/responsive-font-controls/build/

# Ignore ai1wm-backups files
/wp-content/ai1wm-backups/*

# VS code worksspace files
*.code-workspace