/* Critical above-the-fold styles to prevent layout shifts */
@import "variables";

.title-banner {
  margin-inline: 0.0625rem;

  @media (min-width: $mobile) {
    margin-inline: 5%;
  }

  @media (min-width: $desktop) {
    margin-inline: 12.5%;
  }
}
