@import "theme-colors";

.kt-has-gradient-border {
	position: relative;
	isolation: isolate;
	border-color: transparent !important;
	border-width: 0 !important;

	&::before {

		@include gradient-border(var(--kt-border-width, 0.0625rem), var(--kt-border-gradient));
	}
}
