@import "variables";

.kotlinskidev-brands {
  flex-wrap: nowrap;
}

.is-kotlinskidev-sticky {
  position: sticky;
  top: $header !important;
  z-index: 10;
}

.is-kotlinskidev-nowrap {
  flex-wrap: wrap;

  @media (min-width: $breakpoint-tablet-wp) {
    flex-wrap: nowrap;
  }
}

.swiper-scrollbar {
  background: #ffffffdd !important;

  .swiper-scrollbar-drag {
    background: var(--wp--preset--color--primary) !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--wp--preset--color--primary) !important;
}

.swiper-pagination-bullet {
  background: #ffffffdd !important;
}

.swiper-pagination-bullet-active {
  background: var(--wp--preset--color--primary) !important;
}

.light-mode {
  .swiper-scrollbar {
    background: #0000001a !important;

    .swiper-scrollbar-drag {
      background: var(--wp--preset--color--primary) !important;
    }
  }
}

.swiper {
  padding-bottom: 0.9375rem !important;
}

:where(.wp-block-cover-image.is-light:not(.has-text-color)),
:where(.wp-block-cover.is-light:not(.has-text-color)),
:where(.wp-block-cover-image:not(.has-text-color)),
:where(.wp-block-cover:not(.has-text-color)) {
  color: inherit !important;
}

details summary {
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 1rem;
}