@import "variables";

.kotlinskidev-brands {
  flex-wrap: nowrap;
}

.is-kotlinskidev-sticky {
  position: sticky;
  top: $header !important;
  z-index: 10;
}

.is-kotlinskidev-nowrap {
  flex-wrap: wrap;

  @media (min-width: $breakpoint-tablet-wp) {
    flex-wrap: nowrap;
  }
}

.swiper-scrollbar {
  background: #ffffffdd !important;

  .swiper-scrollbar-drag {
    background: var(--wp--preset--color--primary) !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--wp--preset--color--primary) !important;
}

.swiper-pagination-bullet {
  background: #ffffffdd !important;
}

.swiper-pagination-bullet-active {
  background: var(--wp--preset--color--primary) !important;
}

.light-mode {
  .swiper-scrollbar {
    background: #0000001a !important;

    .swiper-scrollbar-drag {
      background: var(--wp--preset--color--primary) !important;
    }
  }
}

.swiper {
  padding-bottom: 0.9375rem !important;
}

:where(.wp-block-cover-image.is-light:not(.has-text-color)),
:where(.wp-block-cover.is-light:not(.has-text-color)),
:where(.wp-block-cover-image:not(.has-text-color)),
:where(.wp-block-cover:not(.has-text-color)) {
  color: inherit !important;
}

details summary {
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 1rem;
}

.cmplz-obfuscate span {
  display: none;
}

#cmplz-document{
  max-width: $page-content !important;
}

.dark-mode {
  #cmplz-manage-consent-container.cmplz-manage-consent-container
    .cmplz-categories
    .cmplz-category
    .cmplz-category-header {
    background-color: rgba(239, 239, 239, 0.5);
    color: $black;
  }

  #cmplz-cookies-overview .cmplz-service-header,
  #cmplz-cookies-overview .cmplz-dropdown summary,
  #cmplz-document .cmplz-dropdown summary,
  .editor-styles-wrapper .cmplz-unlinked-mode .cmplz-dropdown summary,
  #cmplz-cookies-overview .cmplz-dropdown .cookies-per-purpose,
  #cmplz-document .cmplz-dropdown .cookies-per-purpose,
  .editor-styles-wrapper
    .cmplz-unlinked-mode
    .cmplz-dropdown
    .cookies-per-purpose,
  #cmplz-cookies-overview .cmplz-dropdown .cookies-per-purpose div,
  #cmplz-document .cmplz-dropdown .cookies-per-purpose div,
  .editor-styles-wrapper
    .cmplz-unlinked-mode
    .cmplz-dropdown
    .cookies-per-purpose
    div,
  #cmplz-cookies-overview .cmplz-dropdown .cookies-per-purpose a,
  #cmplz-document .cmplz-dropdown .cookies-per-purpose a,
  .editor-styles-wrapper
    .cmplz-unlinked-mode
    .cmplz-dropdown
    .cookies-per-purpose
    a {
    color: $black;
  }

  @media only screen and (min-width: 37.5rem) {
    #cmplz-cookies-overview .cmplz-dropdown .cookies-per-purpose .name-header,
    #cmplz-document .cmplz-dropdown .cookies-per-purpose .name-header,
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      .name-header,
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      .retention-header,
    #cmplz-document .cmplz-dropdown .cookies-per-purpose .retention-header,
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      .retention-header,
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      .function-header,
    #cmplz-document .cmplz-dropdown .cookies-per-purpose .function-header,
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      .function-header {
      color: $black;
    }
  }

  @media only screen and (max-width: 37.5rem) {
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 2),
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 3),
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 4),
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 5),
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 6),
    #cmplz-cookies-overview
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 7),
    #cmplz-document .cmplz-dropdown .cookies-per-purpose div:nth-child(12n + 2),
    #cmplz-document .cmplz-dropdown .cookies-per-purpose div:nth-child(12n + 3),
    #cmplz-document .cmplz-dropdown .cookies-per-purpose div:nth-child(12n + 4),
    #cmplz-document .cmplz-dropdown .cookies-per-purpose div:nth-child(12n + 5),
    #cmplz-document .cmplz-dropdown .cookies-per-purpose div:nth-child(12n + 6),
    #cmplz-document .cmplz-dropdown .cookies-per-purpose div:nth-child(12n + 7),
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 2),
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 3),
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 4),
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 5),
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 6),
    .editor-styles-wrapper
      .cmplz-unlinked-mode
      .cmplz-dropdown
      .cookies-per-purpose
      div:nth-child(12n + 7) {
      color: $black;
    }
  }
}
