.dark-mode {
  .cmplz-manage-consent {
    background: var(--wp--preset--color--light-color) !important;
    color: var(--wp--preset--color--dark-color) !important;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .cmplz-cookiebanner {
    background: var(--wp--preset--color--dark-color) !important;
    color: var(--wp--preset--color--light-color) !important;
    box-shadow:
      0 4px 6px -1px rgba(255, 255, 255, 0.1),
      0 2px 4px -1px rgba(255, 255, 255, 0.06) !important;
    * {
      &:not(.cmplz-btn) {
        color: var(--wp--preset--color--light-color) !important;
      }
    }
  }
  .cmplz-cookiebanner.cmplz-show {
    box-shadow:
      0 0px 6px 2px rgba(255, 255, 255, 0.3),
      0 0px 4px 2px rgba(255, 255, 255, 0.06) !important;
  }
}

.light-mode {
  .cmplz-manage-consent {
    background: var(--wp--preset--color--dark-color) !important;
    color: var(--wp--preset--color--light-color) !important;
    box-shadow:
      0 4px 6px -1px rgba(255, 255, 255, 0.1),
      0 2px 4px -1px rgba(255, 255, 255, 0.06);
  }
  .cmplz-cookiebanner {
    background: var(--wp--preset--color--light-color) !important;
    color: var(--wp--preset--color--dark-color) !important;
    * {
      &:not(.cmplz-btn) {
        color: var(--wp--preset--color--dark-color) !important;
      }
    }
  }
}
