@import 'variables';

footer,
.kotlinskidev-footer {
    display: block;
    width: 100%;
    max-width: $page-large;
    margin: 3rem auto 0;
    padding-inline: 1rem;
    box-sizing: border-box;
    .copyrights-container{
        display: flex;
        flex-wrap: wrap;
        p{
            margin-inline: auto;
            font-size: 0.75rem;
            margin-block: 0.5rem;
        }
    }

    .copyrights{
        margin-inline: auto;
        text-align: center;
    }

    .kotlinskidev-footer-list{
        text-align: center;
        ul{
            list-style: none;
        }
    }

    @media (min-width: $breakpoint-tablet-wp){
        .kotlinskidev-footer-list{
            text-align: left;
        }
        .copyrights-container{
            flex-wrap: nowrap;
            justify-content: space-between;
            p{
                margin-inline: 0;
                font-size: 0.8125rem;
            }
        }
    }
}