@import 'variables.scss';

html{
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;

  &.scroll-lock {
    overflow: hidden;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.light-mode{
  .custom-logo,
  .kotlinskidev-logo{
    filter: invert(100%);
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.full-width{
  width: 100vw;
  max-width: 100vw;
  position: relative; /* Maintain normal flow */
  left: 50%; /* Shift to the middle */
  transform: translateX(-50%); /* Center it relative to viewport */
}

.full-container{
  width: 100%;
}

.full-height{
  min-height:100dvh;
  height:100dvh;
}

.mx-auto{
  display: block;
  margin-inline: auto;
}

.no-wrap{
  flex-wrap: nowrap;
}

.wrap{
  flex-wrap: wrap;
}

p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
ul:empty,
ol:empty,
dl:empty,
blockquote:empty,
figure:empty,
hr:empty,
table:empty,
pre:empty,
address:empty,
a:empty,
span:empty {
  margin: 0;
  padding: 0;
}

@media (min-width: $breakpoint-desktop) {
  .desktop-only {
    display: block !important;
  }

  .mobile-only,
  .tablet-only {
    display: none !important;
  }

  .container {
    width: 80%;
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
  .tablet-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: none !important;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: $breakpoint-mobile) {
  .mobile-only {
    display: block !important;
  }

  .tablet-only,
  .desktop-only {
    display: none !important;
  }

  .container {
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }
}

@media (min-width: $breakpoint-large) {
  .desktop-large {
    display: block !important;
  }

  .container {
    width: 70%;
  }
}

.swiper {
  visibility: hidden;
}

img{
  cursor: pointer;
}