body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  &.scroll-lock{
    overflow: hidden;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .desktop-only {
    display: block !important;
  }

  .mobile-only,
  .tablet-only {
    display: none !important;
  }

  .container {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: none !important;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .mobile-only {
    display: block !important;
  }

  .tablet-only,
  .desktop-only {
    display: none !important;
  }

  .container {
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .desktop-large {
    display: block !important;
  }

  .container {
    width: 70%;
  }
}
