@import 'variables.scss';
/* Language selector button */
.language-selector {
  display: inline-block;
  position: relative;
  max-width: 3rem;
  // z-index: 1001;
  @media (min-width: $breakpoint-mobile) {
    max-width: 4rem;
  }
}

.language-selector-button {
  background-color: #fff;
  border: 2px solid #bc0006;
  padding: 10px;
  border-radius: 20%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  @media (min-width: $breakpoint-mobile) {
    margin-inline-end: 1rem;
  }
}

.language-selector-button:hover {
  color: white;
}

.language-flag {
  width: 24px; /* Adjust flag size */
  height: auto;
  aspect-ratio: 1.89;
  border-radius: 2px;
  box-shadow: #333 0 0 2px;
}

/* Language modal (hidden by default) */
.language-modal {
  display: none;
  position: absolute;
  top: 100%;
  right: 1rem;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 4px;
  .language-flag {
    margin-inline-end: 0.5rem;
  }
}

/* Language options list */
.language-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
}

.language-switcher li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.language-switcher li:hover {
  background-color: #f7f7f7;
}

.language-switcher li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  width: 100%;
}

.language-switcher li a:hover {
  color: var(--wp--preset--color--primary);
}

/* Active language indicator */
.language-switcher li.active {
  font-weight: bold;
}

/* Show modal on hover or click */
.language-selector:hover .language-modal {
  display: block;
}

.language-selector-button:focus + .language-modal,
.language-selector-button:hover + .language-modal {
  display: block;
}

.pll-parent-menu-item{
  & > a {
    margin-inline-end: 0.375rem;
    display: flex;
    align-items: center;
    span {
      display: none;
    }
    img {
      width: 1.5rem !important;
      height: auto !important; 
    }
  }
}