@import "variables";
@import "mixins";

$kt-dead-link-triggers: (".kt-mega-nav__link");

$kt-underline-link-exceptions: ("#scroll-to-top", ".custom-logo-link", '[href="#"]', ".wp-element-button", ".wp-block-button__link", ".kt-button__link", ".kt-hover-no-link-gradient", ".wp-block-social-link-anchor", ".kt-tooltip");

header,
footer {

	@media (min-width: $breakpoint-desktop) {
		a[href="#"]#{kt-not($kt-dead-link-triggers)},
		a:not([href]):not(#scroll-to-top) {
			pointer-events: none;
		}

		a[href]#{kt-not($kt-underline-link-exceptions)} {

			@include sliding-underline-hover;
		}
	}
}
