@import "variables";

#content {
	display: block;
	width: 100%;
	max-width: $page-large;
	margin: 4rem auto 0;
	padding-top: 1rem;
	padding-inline: 1rem;
	min-height: 100svh;
}

#page-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	background-color: transparent;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateZ(0);
}

.spinner {
	width: 3.125rem;
	height: 3.125rem;
	border: 0.3125rem solid color-mix(in srgb, var(--color-text) 20%, transparent);
	border-top: 0.3125rem solid var(--color-text);
	border-radius: 50%;
	animation: spin 1s linear infinite;
	transform: translateZ(0);
}

@keyframes spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

body.loaded #page-loader {
	display: none;
}

.margin-top-header {
	margin-top: -$header;
}

.wp-block-site-logo {
	height: 4rem;
	width: auto;
}

header > * {
	visibility: hidden;
}

.wp-block-post-featured-image,
.wp-block-post-title {
	display: none !important;
}

.hero-banner {
	min-height: calc(100svh - $header) !important;
}
