@import 'variables';

.kotlinskidev-scrollto-top {
    position: fixed;
    bottom: calc(1rem + env(safe-area-inset-bottom));
    right: calc(1rem + env(safe-area-inset-right));
    height: 2rem;
    width: 2rem;
    padding: 0;
    z-index: 999;
    #scroll-top-top{
        height: 2rem;
        width: 2rem;
        padding: 0 !important;
        font-size: 0;
        background-color: transparent;
        br{
            display: none;
        }
    }
}