@import "variables";

.kotlinskidev-scrollto-top {
	position: fixed;
	bottom: calc(1rem + env(safe-area-inset-bottom));
	right: calc(1rem + env(safe-area-inset-right));
	height: 2.5rem;
	width: 2.5rem;
	padding: 0;
	z-index: 999;
	transform: translateZ(0);
	transition: bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);

	#scroll-top-top {
		height: 2.5rem;
		width: 2.5rem;
		padding: 0 !important;
		font-size: 0;
		background-color: transparent;

		br {
			display: none;
		}
	}
}

body:has(.mobile-footer-nav) {

	.kotlinskidev-scrollto-top {

		@media (max-width: $breakpoint-desktop) {
			bottom: calc(0.5rem + $mobile-footer-nav);

			&.mobile-nav-hidden {
				bottom: calc(1rem + env(safe-area-inset-bottom));
			}
		}
	}
}

.scroll-to-top-wrapper {
	position: relative;
	display: none;
	width: 2.5rem;
	height: 2.5rem;

	&.show {
		display: inline-block;
	}
}

.progress-ring {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-90deg);
	z-index: 1;
}

.progress-ring__background {
	stroke: var(--color-text);
	opacity: 0.3;
}

.progress-ring__progress {
	stroke: url(#kt-icon-gradient-dark);
	stroke-dasharray: 163.36;
	stroke-dashoffset: 163.36;
}

#scroll-to-top {
	background-color: var(--color-surface);
	color: var(--color-text);
	width: 2rem;
	height: 2rem;
	padding: 0 !important;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;

	br {
		display: none;
	}

	&:focus-visible {
		outline: -webkit-focus-ring-color auto 1px;
		outline-offset: 2px;
	}
}

.light-mode {

	.progress-ring__background {
		opacity: 0.2;
	}

	.progress-ring__progress {
		stroke: url(#kt-icon-gradient-light);
	}
}
