@import 'variables.scss';

.text-shadow {
    text-shadow: 1px 1px 2px $black;
}
.text-shadow-white {
    text-shadow: 1px 1px 2px $white;
}
.text-shadow-primary {
    text-shadow: 1px 1px 2px var(--wp--preset--color--primary);
}