// theme switcher
$scale: 70px;
$time: 0s;

@mixin common($a, $b, $c, $d, $e, $f, $g) {
  display: $a;
  flex-direction: $b;
  justify-content: $c;
  align-items: $d;
  width: $e;
  height: $f;
  background-color: $g;
  transition: all $time ease;
}

.theme-switcher {
  p:empty,
  br{
    display: none;
  }

  p{
    margin: 0;
  }

  display: flex;
  flex-direction: column;
  height: 35px !important;
  // z-index: 1001;
  .title {
    text-align: center;
  }

  .content {
    text-align: justify;
  }

  input[type='checkbox'] {
    display: none;
  }

  .icon {
    font-size: 1.25rem;
    width: 20px;
    height: 20px;
   p{
    width: 20px;
    height: 20px;
   }
  }

  .btn {
    align-self: center;
    margin: 0;
    min-height: $scale/2;
  }

  .box {
    @include common(flex, column, center, null, $scale, $scale/2, white);
    position: relative;
    border-radius: $scale/4;
    cursor: pointer;

    .ball {
      @include common(null, null, null, null, $scale/2, $scale/2, grey);
      position: absolute;
      border-radius: 50%;
      border: 3px solid black;
      transform: translatex(80%);
    }

    .scenery {
      @include common(flex, row, space-between, null, null, null, null);
      padding: 0 10px;

      svg {
        width: $scale/3;
        height: $scale/3;
      }
    }
  }
}

.light-mode {
  .theme-switcher {
    .box {
      @include common(flex, column, center, null, $scale, $scale/2, black);
    }
    .ball {
      transform: translatex(0%);
    }
  }
}
