// Breakpoints
$breakpoint-large: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet-wp: 782px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 767px;

// Page size
$page-large: 1420px;

// Colors
$black: #191919;
$white: #f2f2f2;
$red: #db1c1c;

// Sizes
$header: 75px;