// Breakpoints
$breakpoint-large: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet-wp: 782px;
$breakpoint-mobile: 782px;

// Page size
$page-large: 1420px;
$page-content: 1180px;

// Colors
$black: #191919;
$white: #f2f2f2;

// Breakpoints
$desktop: 1024px;
$mobile: 782px;

// Sizes
$header: 4.6875rem;
$mobile-footer-nav: 3.5rem;