// Breakpoints
$breakpoint-large: 75rem; // 1200px -> 75rem
$breakpoint-desktop: 64rem; // 1024px -> 64rem
$breakpoint-tablet-wp: 48.875rem; // 782px -> 48.875rem
$breakpoint-mobile: 48.875rem; // 782px -> 48.875rem

// Page size
$page-large: 88.75rem; // 1420px -> 88.75rem
$page-content: 73.75rem; // 1180px -> 73.75rem

// Colors
$black: #191919;
$white: #f2f2f2;
$color-error: #dc3545;
$kt-gradient-fallback: linear-gradient(90deg, var(--wp--preset--color--primary), var(--wp--preset--color--contrast));

// Breakpoints
$desktop: 64rem; // 1024px -> 64rem
$mobile: 48.875rem; // 782px -> 48.875rem

// Sizes
$header: 4.6875rem; // 75px -> 4.6875rem
$header-width: 77.5rem; // 1240px
$mobile-footer-nav: 4rem; // 64px -> 4rem;
$admin-bar-desktop: 32px;
$admin-bar-mobile: 46px;
$hamburger-width: 25rem;
$social-bar-height: 4rem; //  64px -> 4rem;
