header{
    /* margin-bottom: 60px; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(16px);
    z-index: 1000;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}
.logo {
    margin-left: 20px;
}
.logo img{
    max-height: 4rem;
    width: auto;
}

.menu-header-menu-container ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    margin-right: 20px;
}

.menu-header-menu-container ul a{
    text-decoration: none;
}

.menu-header-menu-container ul a:hover{
    text-decoration: underline;
}